
<%- include('./shared/header.ejs') %> 
<body id="login">
    
    <div class="overlay">
        <!-- ================================spinner============================== -->
        <div class="parent-spinner">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- ================================/spinner============================== -->

        <!-- ======================login form================================= -->

        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 m-auto p-5">
                    <% if (dexist.length!=0) { %>
                     <div class="alert alert-danger">
                         Account doesn't exist
                     </div>
                    <% } %>
                    <div class="form p-5 ">
                <h2 class="text-center text-white">Sign In</h2>

                        <form action="/HandleSignin" method="POST">
                            <input value="<%= oldInputs.length==0?'':oldInputs[0].email %> " name="email" placeholder="Email" type="email" class="form-control my-4 inp" type="text">
                            <input name="password" placeholder="Password" type="password" class="form-control my-4 inp" type="text">
                            <% if (wpass!=0) { %>
                             <div class="alert alert-danger">
                                 Incorrect password for this account
                             </div>
                            <% } %>
                            <button class="btn btn-outline-info w-100 text-white">Login</button>
                            <p class="text-center text-white pt-3">
                                Don't Have an account..?  <a href="/register" class="text-white" >Sign Up Here</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
<%- include('./shared/footer.ejs') %> 

